@model PredmetViewModel

@{
    ViewBag.Title = "Predmeti";
}

<h2>Popis predmeta</h2>

<a asp-action="Create">Unos novog predmeta</a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-end">
</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Naziv predmeta
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Plan i program predmeta
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Program
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Je li predmet izboran
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    ECTS
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var predmet in Model.Predmeti)
        {
            <tr>
                <td class="text-center">@predmet.SifPredmet</td>
                <td class="text-left">@predmet.Naziv</td>
                <td class="text-center">@predmet.PlanProgram</td>
                <td class="text-center">@predmet.Program</td>
                <td class="text-center">@predmet.JelIzboran</td>
                <td class="text-center">@predmet.Ects</td>
                <td class="btn-group">
                    <a asp-action="Edit"
                       asp-route-id="@predmet.SifPredmet"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-sort="@Model.PagingInfo.Sort"
                       asp-route-ascending="@Model.PagingInfo.Ascending"
                       class="btn btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>

                    <form asp-action="Delete" method="post"
                          asp-route-page="@Model.PagingInfo.CurrentPage"
                          asp-route-sort="@Model.PagingInfo.Sort"
                          asp-route-ascending="@Model.PagingInfo.Ascending">
                        <input type="hidden" name="SifPredmet" value="@predmet.SifPredmet" />
                        <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
}


@* stranicenje na klijentskoj strani *@

@* @section styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
}

@section scripts{
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script>
     $(document).ready(function(){
            $('#tablicaDvorane').DataTable();
         });
    </script>
    } *@