@model DvoranaViewModel

@{
    ViewBag.Title = "Dvorane";
}

<h2>Popis dvorana</h2>

<a asp-action="Create" class="btn btn-primary">Unos nove dvorane</a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-end">
</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    #
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Oznaka dvorane
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Kapacitet
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dvorana in Model.Dvorane)
        {
            <tr>
                <td class="text-center">@dvorana.IdDvorana</td>
                <td class="text-center">@dvorana.OznDvorana</td>
                <td class="text-center">@dvorana.Kapacitet</td>
                <td class="btn-group">
                    <a asp-action="Edit"
                       asp-route-id="@dvorana.IdDvorana"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-sort="@Model.PagingInfo.Sort"
                       asp-route-ascending="@Model.PagingInfo.Ascending"
                       class="btn btn-sm btn-warning edit" title="Ažuriraj">Uredi</a>

                    <form asp-action="Delete" method="post"
                          asp-route-page="@Model.PagingInfo.CurrentPage"
                          asp-route-sort="@Model.PagingInfo.Sort"
                          asp-route-ascending="@Model.PagingInfo.Ascending">
                        <input type="hidden" name="IdDvorana" value="@dvorana.IdDvorana" />
                        <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">Obriši</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Jeste li sigurni da želite obrisati stavku <strong id="deleteItemName"></strong>?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post">
                    <input type="hidden" id="deleteItemId" name="id" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Odustani</button>
                    <button type="submit" class="btn btn-danger">Obriši</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {


    <script src="~/js/pager.js" asp-append-version="true"></script>
}


@* stranicenje na klijentskoj strani *@

@* @section styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
}

@section scripts{
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script>
     $(document).ready(function(){
            $('#tablicaDvorane').DataTable();
         });
    </script>
    } *@