@model RasporedViewModel

@{
    ViewBag.Title = "Rasporedi";
}

<h2>Popis rasporeda</h2>

<a asp-action="Create" class="btn btn-primary">Unos novog rasporeda</a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-end">
</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    ID rasporeda
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Opis rasporeda
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    ID akademske godine
                </a>
            </th>
            <th>
                <a asp-route-sort="4" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    ID dvorane
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var raspored in Model.Rasporedi)
        {
            <tr>
                <td class="text-center">@raspored.IdRaspored</td>
                <td class="text-center">@raspored.Opis</td>
                <td class="text-center">@raspored.IdAkGodNavigation?.Razdoblje</td>
                <td class="text-center">@raspored.IdDvoranaNavigation?.OznDvorana</td>
                <td class="btn-group">
                    <a asp-controller="Predavanje"
                    asp-action="Index"
                    asp-route-idRaspored="@raspored.IdRaspored"
                    class="btn btn-sm" title="Detalji">Detalji</a>

                    <a asp-action="Edit"
                       asp-route-id="@raspored.IdRaspored"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-sort="@Model.PagingInfo.Sort"
                       asp-route-ascending="@Model.PagingInfo.Ascending"
                       class="btn btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>

                    <form asp-action="Delete" method="post"
                          asp-route-page="@Model.PagingInfo.CurrentPage"
                          asp-route-sort="@Model.PagingInfo.Sort"
                          asp-route-ascending="@Model.PagingInfo.Ascending">
                        <input type="hidden" name="IdRaspored" value="@raspored.IdRaspored" />
                        <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
}


@* stranicenje na klijentskoj strani *@

@* @section styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
}

@section scripts{
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script>
     $(document).ready(function(){
            $('#tablicaDvorane').DataTable();
         });
    </script>
    } *@