@model RPPP_WebApp.Models.ZavrsniRad

@{
    ViewData["Title"] = "Detalji Završnog Rada";
}

<h1>Detalji završnog rada</h1>

<div class="card">
    <div class="card-header">
        <h2>@Model.Naslov</h2>
    </div>
    <div class="card-body">
        <p><strong>Tema:</strong> @Model.Tema</p>
        <p><strong>Metodologija:</strong> @Model.Metodologija</p>
        <p><strong>Opis:</strong> @Model.Opis</p>
        <p><strong>Sazetak:</strong> @Model.Sazetak</p>
        <p><strong>Datum Obrane:</strong> @Model.DatumObrane?.ToString("dd.MM.yyyy")</p>
        <p><strong>Ocjena:</strong> @Model.Ocjena</p>
        <p><strong>Student:</strong> @Model.Student?.Jmbag</p>
        <p><strong>Tematsko Područje:</strong> @Model.IdTematskogPodrucjaNavigation?.TematskoPodrucje1</p>
        <p><strong>Vijeće:</strong> @Model.IdVijecaNavigation?.IdVijeca</p>
    </div>
</div>

<h2>Odluke Fakultetskog Vijeća</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Datum Odluke</th>
            <th>Opis Odluke</th>
            <th>Vrsta Odluke</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var odluka in Model.OdlukeFvs)
        {
            <tr>
                <td>@odluka.IdOdluke</td>
                <td>@odluka.DatumOdluke.ToString("dd.MM.yyyy")</td>
                <td>@odluka.OpisOdluke</td>
                <td>@odluka.IdVrstaOdlukeNavigation?.VrstaOdluke1</td>

                <td>
                    <a asp-action="EditOdluka" asp-route-id="@odluka.IdOdluke" class="btn btn-primary">Uredi</a>
                    <a asp-action="DeleteOdluka" asp-route-id="@odluka.IdOdluke" class="btn btn-danger">Izbrisi</a>
                </td>

            </tr>
        }
        <a asp-action="CreateOdluka" asp-route-id="@Model.IdRad" class="btn btn-danger">Unos nove odluke za rad</a>
    </tbody>
</table>

<a asp-action="Index" class="btn btn-secondary">Povratak na popis</a>


